/*-- Space-Class --*/

[class|=space] {
    display: block;
    width: 100%;
    overflow: hidden
}

.space-10 {
    height: 10px;
}

.space-20 {
    height: 20px;
}

.space-30 {
    height: 30px;
}

.space-50 {
    height: 50px;
}

.space-60 {
    height: 60px;
}

.space-80 {
    height: 80px;
}

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .feature-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
    }
    
    .footer-area {
        text-align: center;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-area {
        padding: 100px 0;
        margin-bottom: 0;
    }
    
    .progress-area {
        background-image: none;
    }
    .mobile-image {
        display: none !important;
    }
    .feature-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .footer-area {
        text-align: center;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 22px;
    }
    .bttn-white {
        padding: 8px 30px;
    }
    .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    /*-- Main-Menu-Style --*/
    .mainmenu-area {
        padding: 15px 0;
    }
    .mainmenu-area:before {
        opacity: 0.9;
    }
    /*-- Home-Area --*/
    .home-area {
        padding-top: 120px;
        padding-bottom: 100px;
        margin-bottom: 0;
    }
    .mobile-image {
        display: none !important;
    }
    .feature-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .footer-area {
        text-align: center;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {}